extend ../layout

block content
	.container
		h1 Article Add
		form(action="/admin/article/add" method="post")
			.form-group
				label(for="title") Title
				input.form-control(id="title" name="title" placeholder="Name your awesome article")
			.form-group
				label(for="body") Body
				textarea.form-control(id="ckeditor" name="body" placehoder="Add the content as markdown")

			button.btn.btn-primary(type="submit") Add the article


block append javascripts
	script.
		CKEDITOR.replace('ckeditor');
