block nav
	nav.navbar.navbar-default
		.container-fluid
			.navbar-header
				button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#bs-alxolr-navbar-collapse" area-expanded="false")
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				div.pull-left.navbar-brand-logo
					img.img-thumbnail(src="images/favicon.ico")
				a.navbar-brand(href="/")
					span &nbsp;ALXOLR.COM
			#bs-alxolr-navbar-collapse.collapse.navbar-collapse
				ul.nav.navbar-nav
					li(class=(title == 'Articles' ? 'active' : ''))
						a(href='/articles')
							i.fa.fa-files-o
							span &nbsp;Articles
					li(class=(title == 'About' ? 'active' : ''))
						a(href='/about')
							i.fa.fa-info
							span &nbsp;About me
					li.dropdown
						a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
							i.fa.fa-file-code-o
							span &nbsp;Cheetsheets
								span.caret
						ul.dropdown-menu
							li
								a(href="/cheetsheets/php") PHP
							li
								a(href="/cheetsheets/rest") Web Service REST
				if user
					ul.nav.navbar-nav.navbar-right
						li.dropdown
							a.dropdown-toggle(href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
								span #{user.name} &nbsp;
								i.fa.fa-user
								span.caret
							ul.dropdown-menu
								li
									a(href="/user/settings")
										i.fa.fa-cogs
										span &nbsp; Settings
								li.divider(role="separator")
								li
									a(href="/logout")
										i.fa.fa-sign-out
										span &nbsp; Logout

				else
					.navbar-right
						.btn-group(role="group")
							a.btn.navbar-btn.btn-sm.btn-default(href="/login")
								i.fa.fa-sign-in
								span &nbsp;Sign in
							a.btn.navbar-btn.btn-sm.btn-success(href="/register")
								i.fa.fa-user-plus
								span &nbsp;Register