extends ./layout.jade

block content
	.jumbotron
		.container
			.row
				h2 The requested resource was not found.
				p The resource was removed or has not been added yet.
				span Instead checkout the latest articles &nbsp;
					a.btn.btn-default(href="/")
						i.fa.fa-home