extends ./layout.jade

block content
	.jumbotron
		.container
			.row
				h2 The requested resource was not found.
				p The resource was deleted or has been expired.
				span Checkout the latest articles &nbsp;
					a.btn.btn-default(href="/")
						i.fa.fa-home