extends layout

block content
	.container
		.row
			.col-sm-offset-6.col-sm-6
				.alert.alert-success.alert-dismissible(id="alert")
					button.close(type="button" data-dismiss="alert" aria-label="close")
						span(aria-hidden="true")&times;
					strong Warning!
					p Better check yourself, you are not looking too good.

		p.text-center In order to reset your password you should enter your valid email address.
		form.form-signin(method="post" action="forgot-password")
			.form-group
				input.form-control(type="email" placeholder="Email" required)

				button.btn.btn-primary.btn-block(type="submit")
					i.fa.fa-lock
					span &nbsp; Reset Password