extends ./layout.jade

block content
	.container
		.row
			article.col-sm-8
					h1 Some awesome interisting article
			asside.col-sm-4
				.panel.panel-default
					.panel-heading
						h4.text-center
							i.fa.fa-cloud.text-primary
							span &nbsp;Tag cloud
					.panel-body
						each tag in ['git', 'symfony', 'angularjs', 'doctrine2']
							a.label.label-default(href='/tags/#{tag}') #{tag}
							span &nbsp;