doctype html
html(lang='en')
head
	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	meta(name='description', content='')
	meta(name='author', content='Alexandru Olaru')
	block stylesheets
		link(rel='stylesheet', href='bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='font-awesome/css/font-awesome.min.css')
		link(rel='stylesheet', href='css/style.css')
		link(rel='stylesheet', href='css/prism.css')
	block title
		title #{title} - ALXOLR.COM
body
	include ./partials/nav.jade
	block content
	include ./partials/footer.jade
	block javascripts
		script(src='jquery/dist/jquery.min.js')
		script(src='bootstrap/dist/js/bootstrap.min.js')
		script(src='js/prism.js')