extends layout

block append stylesheets
	link(rel="stylesheet" href="/angular-bootstrap-datetimepicker/src/css/datetimepicker.css")

block content
	.container(ng-app="alxolrTodo")
		.row
			.col-sm-offset-2.col-sm-8
				h1(ng-controller="TodoMainCtrl")
					i.fa.fa-list-ul.text-success
					span &nbsp;Todo List - for&nbsp;
					span.text-primary {{ date | date:'dd MMM, yyyy'}}
				hr
				div(ng-controller="TodoListCtrl")
					div(ng-repeat="todo in todos | orderBy:'-priority'")
						h3(ng-if="todo.done_at === undefined")
							button.btn.btn-sm(ng-click="incPriority(todo._id)" data-toggle="tooltip" data-placement="left" title="Increase priority")
								span
									i.fa.fa-arrow-up.text-success
									span &nbsp;
									span {{ todo.priority }}
							span &nbsp;
							input(type="checkbox" ng-click="deleteTodo(todo._id)")
							span &nbsp;{{ todo.content }}
							span.text-danger(ng-if="todo.deadline_at") &nbsp; - {{ todo.deadline_at | date:'dd MMM, yyyy HH:ii' }}

						h3(ng-if="todo.done_at")
							input(type="checkbox" checked="checked" disabled="disabled")
							span
								span &nbsp;
								del.text-muted {{ todo.content }}
					hr
					form
						.row
							.col-sm-12.col-md-6
								.input-group.input-group-lg
									span.input-group-addon
										i.fa.fa-file-o
									input.form-control.input-large(type="text" data-ng-model="formData.content")
							.col-sm-12.col-md-3
								.dropdown
									a.dropdown-toggle.my-toggle-select(id="dpickerLabel" role="button" data-toggle="dropdown" data-target="#")
										.input-group.input-group-lg
											input.form-control.input-large(type="text" ng-model="formData.deadline_at")
											span.input-group-addon
												i.fa.fa-calendar
									ul.dropdown-menu(role="menu" aria-labelledby="dpickerLabel")
										datetimepicker(ng-model="formData.deadline_at"
		                        data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select' }")

							.col-sm-12.col-md-3
								button.btn.btn-primary.btn-lg.btn-group(type="submit" ng-click="createTodo()")
									i.fa.fa-plus
									span &nbsp;Add
	br

block prepend javascripts
	script(src='/moment/moment.js')
	script(src='/angular/angular.min.js')
	script(src='/angular-bootstrap-datetimepicker/src/js/datetimepicker.js')
	script(src='/js/todo/app.js')
