extends layout

block append stylesheets
	link(rel="stylesheet" href="/angular-bootstrap-datetimepicker/src/css/datetimepicker.css")

block content
	.container(ng-app="todo")
		.row
			.col-sm-offset-3.col-sm-6
				h1(ng-controller="MainCtrl")
					i.fa.fa-list-ul.text-success
					span &nbsp;Todo - for&nbsp;
					span.text-primary {{ date | date:'dd MMM, yyyy'}}
				hr
				div(ng-controller="ListCtrl")
					div(ng-repeat="todo in todos | orderBy:'-priority'")
						todo
					hr
					todoform
	br
block prepend javascripts
	script(src='/moment/moment.js')
	script(src='/angular/angular.min.js')
	script(src='/angular-bootstrap-datetimepicker/src/js/datetimepicker.js')
	script(src='/js/todo/app.js')
	script(src='/js/todo/controllers.js')
	script(src='/js/todo/directives.js')
