extends layout

block append stylesheets
	link(rel="stylesheet" href="/angular-bootstrap-datetimepicker/src/css/datetimepicker.css")

block content
	.container(ng-app="todo")
		.row
			.col-sm-offset-2.col-sm-8
				h1(ng-controller="MainCtrl")
					i.fa.fa-list-ul.text-success
					span &nbsp;Todo - for&nbsp;
					span.text-primary {{ date | date:'dd MMM, yyyy'}}
				hr
				div(ng-controller="ListCtrl")
					div(ng-repeat="todo in todos | orderBy:'-priority'")
						todo
					hr
					form.form-horizontal
						.row
							.col-sm-12.col-md-6
								.input-group.input-group-lg
									span.input-group-addon
										i.fa.fa-file-o
									input.form-control.input-large(type="text" data-ng-model="formData.content")
							.col-sm-12.col-md-3
								.dropdown
									a.dropdown-toggle.my-toggle-select(id="dpickerLabel" role="button" data-toggle="dropdown" data-target="#")
										.input-group.input-group-lg
											input.form-control.input-large(type="text" ng-model="formData.deadline_at")
											span.input-group-addon
												i.fa.fa-calendar
									ul.dropdown-menu(role="menu" aria-labelledby="dpickerLabel")
										datetimepicker(ng-model="formData.deadline_at"
		                        data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select' }")

							.col-sm-12.col-md-3
								select.form-control.input-group.input-group-lg(ng-model="formData.category" style="font-family: 'FontAwesome', Helvetica;")
									option(value="meeting") &#xf073; Meeting
						.row
							.col-sm-12.col-md-3
								button.btn.btn-primary.btn-lg.btn-group(type="submit" ng-click="createTodo()")
									i.fa.fa-plus
									span &nbsp;Add
	br

block prepend javascripts
	script(src='/moment/moment.js')
	script(src='/angular/angular.min.js')
	script(src='/angular-bootstrap-datetimepicker/src/js/datetimepicker.js')
	script(src='/js/todo/app.js')
	script(src='/js/todo/controllers.js')
	script(src='/js/todo/directives.js')
