<form>
  <div class="form-group">
    <input type="text" class="form-control" id="task" ng-model="formData.content" placeholder="What is on your mind ?">
  </div>
  <div class="row">
    <div class="col-sm-8 form-group">
      <div class="dropdown">
        <a class="dropdown-toggle my-toggle-select" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="">
          <div class="input-append"><input type="text" class="input-large form-control" data-ng-model="formData.deadline_at"><span class="add-on"><i
            class="icon-calendar"></i></span>
          </div>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <datetimepicker data-ng-model="formData.deadline_at"
          data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select' }"></datetimepicker>
        </ul>
      </div>
    </div>
    <div class="col-sm-4 form-group">
        <select ng-model="formData.category" class="form-control">
          <option value="code" selected="selected">Code</option>
          <option value="meeting">Meeting</option>
          <option value="read">Read</option>
          <option value="phone">Phone</option>
          <option value="email">Email</option>
          <option value="meditate">Meditate</option>
        </select>
    </div>
  </div>
  <button ng-click="createTodo()" class="btn btn-primary">
    <i class="fa fa-plus"></i>&nbsp;Add
  </button>
</form>