<h4 ng-if="todo.done_at === undefined">
	<span ng-if="$index > 0" class="pointer" ng-click="incPriority(todo._id)">
		<i class="fa fa-arrow-up text-primary"></i>
	</span>
	<span ng-if="$index < todos.length - 1" class="pointer" ng-click="decPriority(todo._id)">
		<i class="fa fa-arrow-down text-warning"></i>
	</span>
	<input class="pointer" type="checkbox" ng-click="markDone(todo._id)"/>

	<todoicon></todoicon>
	<span> {{ todo.content }} </span>

	<span class="text-danger" ng-if="todo.deadline_at">
		- {{ todo.deadline_at | date:'dd MMM, yyyy' }}
	</span>

	<span class="pointer" ng-click="delete(todo._id)">
		<i class="fa fa-close text-danger"></i>
	</span>
</h4>
<h4 ng-if="todo.done_at">
	<span ng-if="$index > 0" class="pointer" ng-click="incPriority(todo._id)">
		<i class="fa fa-arrow-up text-primary"></i>
	</span>
	<span ng-if="$index < todos.length - 1" class="pointer" ng-click="decPriority(todo._id)">
		<i class="fa fa-arrow-down text-warning"></i>
	</span>
	<i class="fa fa-check-square-o text-success"></i>
	<todoicon></todoicon>
	<span>
		<del class="text-muted">{{ todo.content }}</del>
	</span>
	<span class="pointer" ng-click="delete(todo._id)">
		<i class="fa fa-close text-danger"></i>
	</span>
</h4>